In [1]:
import pandas as pd
import requests
from sodapy import Socrata
from sqlalchemy import create_engine
from time import time
import argparse
#import psycopg2
from tenacity import retry, wait_exponential, stop_after_attempt
import requests
import pyspark

## Calculate Dynamic Date Range

In [1]:
from datetime import datetime, timedelta

def get_date_range(execution_date):
    # First day of the previous month
    first_day = (execution_date.replace(day=1) - timedelta(days=1)).replace(day=1)
    
    # Last day of the previous month
    last_day = execution_date.replace(day=1) - timedelta(days=1)

    return first_day.strftime("%Y-%m-%d"), last_day.strftime("%Y-%m-%d")

In [10]:
executiondate = datetime(2025,5,5)
first_day, last_day = get_date_range(executiondate)
print(first_day, last_day)

2025-04-01 2025-04-30

In [11]:
executiondate = datetime.today()
first_day, last_day = get_date_range(executiondate)
print(first_day, last_day)

2025-03-01 2025-03-31

## Extract Via API

In [2]:
client = Socrata("data.cityofnewyork.us", "xoIfIdDlHq6gGzxqLqbUeMpsG")

In [6]:
#Get API between two dates
@retry(wait=wait_exponential(multiplier=2, min=2, max=16), stop=stop_after_attempt(5))
def get_data_from_api(api_url,datasetid,incident_date_time_from,incident_date_time_to,offset):
    # Define the API endpoint
    
    url = f"https://{api_url}/resource/{datasetid}.json?$where=incident_datetime >= '{incident_date_time_from}T00:00:00' AND incident_datetime < '{incident_date_time_to}T00:00:00'&$limit=1000&$offset={offset}"
    
    # Make the GET request
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        data = response.json()
        #print(data)
    else:
        print(f"Error: {response.status_code}")
    
    return data
try:
    
    results = get_data_from_api('data.cityofnewyork.us','8m42-w767','2017-01-01','2018-01-01',1000)
    df = pd.DataFrame.from_records(results)
    offset_counter = 1000
    
    while len(results) == 1000:
        results = get_data_from_api('data.cityofnewyork.us','8m42-w767','2017-01-01','2018-01-01',offset_counter)
        df = pd.concat([df, pd.DataFrame.from_records(results)], ignore_index=True)
        offset_counter = 1000 + offset_counter
        
    #df1 = pd.DataFrame.from_records(results)
    print("Connected to API")
    #print(len(results))
    
except requests.exceptions.RequestException as e:
    print(f"Failed to fetch data from API: {e}")

Connected to API

In [4]:
df = pd.DataFrame.from_records(results)
df = pd.concat([df, pd.DataFrame.from_records(results)], ignore_index=True)

In [7]:
df

,starfire_incident_id,incident_datetime,alarm_box_borough,alarm_box_number,alarm_box_location,incident_borough,zipcode,policeprecinct,citycouncildistrict,communitydistrict,...,first_activation_datetime,first_on_scene_datetime,incident_close_datetime,valid_dispatch_rspns_time_indc,valid_incident_rspns_time_indc,incident_response_seconds_qy,incident_travel_tm_seconds_qy,engines_assigned_quantity,ladders_assigned_quantity,other_units_assigned_quantity
0,1700104690710750,2017-01-01T12:50:56.000,MANHATTAN,469,AVE B & 14 ST,MANHATTAN,10009,9,2,103,...,2017-01-01T12:51:52.000,2017-01-01T12:53:53.000,2017-01-01T13:10:22.000,N,Y,177,133,3,2,1
1,1700120390150450,2017-01-01T12:52:34.000,QUEENS,2039,NORTH CONDUIT AVE. & COHANCY ST.,QUEENS,11417,106,32,410,...,2017-01-01T12:53:20.000,2017-01-01T12:56:43.000,2017-01-01T13:04:25.000,N,Y,249,225,1,1,2
2,1700152700150450,2017-01-01T12:53:04.000,QUEENS,5270,109 AVE & 120 ST,QUEENS,11419,106,28,410,...,2017-01-01T12:53:32.000,2017-01-01T12:57:16.000,2017-01-01T13:05:13.000,N,Y,252,241,1,0,0
3,1700117530110750,2017-01-01T12:53:20.000,MANHATTAN,1753,AMSTERDAM AVE AND 183RD ST,MANHATTAN,10033,34,10,112,...,2017-01-01T12:53:58.000,2017-01-01T12:56:45.000,2017-01-01T13:07:20.000,N,Y,205,200,1,0,0
4,1700109930110750,2017-01-01T12:54:00.000,MANHATTAN,993,PARK AVE & 68 ST,MANHATTAN,10065,19,4,108,...,2017-01-01T12:54:31.000,2017-01-01T12:57:07.000,2017-01-01T13:16:10.000,N,Y,187,177,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
589216,1736578410250800,2017-12-31T23:57:49.000,QUEENS,7841,ROOSEVELT AVE & 80 ST,QUEENS,11372,115,25,403,...,2017-12-31T23:58:18.000,2018-01-01T00:01:03.000,2018-01-01T00:09:55.000,N,Y,194,179,3,2,1
589217,1736532580141290,2017-12-31T23:57:55.000,BROOKLYN,3258,AVENUE P & E 24 ST,BROOKLYN,11229,61,48,315,...,2017-12-31T23:58:37.000,2018-01-01T00:02:08.000,2018-01-01T01:20:58.000,N,Y,253,245,1,0,0
589218,1736502721511440,2017-12-31T23:58:41.000,MANHATTAN,272,MANGIN & DELANCEY STS,MANHATTAN,10002,7,2,103,...,2017-12-31T23:59:13.000,2018-01-01T00:02:14.000,2018-01-01T00:11:48.000,N,Y,213,200,3,3,1
589219,1736534410121130,2017-12-31T23:58:46.000,BRONX,3441,CRUGER AVE & ALLERTON AVE,BRONX,10467,49,15,211,...,2018-01-01T00:06:55.000,NaN,2018-01-01T00:09:35.000,N,N,0,0,1,0,0
589220,1736549360150800,2017-12-31T23:59:45.000,QUEENS,4936,133 AVE & 125 ST,QUEENS,11420,106,28,410,...,2018-01-01T00:00:27.000,2018-01-01T00:04:51.000,2018-01-01T00:16:17.000,N,Y,306,297,1,0,0

In [ ]:
print(len(results))

In [ ]:
while len(results) == 1000:
    try:
    #results = client.get("8m42-w767", limit=50)
    results = get_data_from_api('data.cityofnewyork.us','8m42-w767','2017-01-01','2018-01-01')
    print("Connected to API")
    
    except requests.exceptions.RequestException as e:
        print(f"Failed to fetch data from API: {e}")

In [ ]:
#Get API between two dates
@retry(wait=wait_exponential(multiplier=2, min=2, max=16), stop=stop_after_attempt(5))
def get_data_from_api(api_url,datasetid,incident_date_time_from,incident_date_time_to):
    # Define the API endpoint
    url = f"https://{api_url}/resource/{datasetid}.json"
    params = {
        "$where": f"incident_datetime >= '{incident_date_time_from}T00:00:00' AND incident_datetime < '{incident_date_time_to}T00:00:00'&$limit=1000&$offset=0"
        #"$where": f"incident_datetime between '{incident_date_time_from}T00:00:00' AND '{incident_date_time_to}T00:00:00'"
        #"$where": f"incident_datetime >= '{incident_date_time_from}T00:00:00' AND incident_datetime <= '{incident_date_time_to}T00:00:00'&$limit=1000&$offset=0"
    }
    # Make the GET request
    response = requests.get(url, params=params)
    
    # Check if the request was successful
    if response.status_code == 200:
        data = response.json()
        print(data)
    else:
        print(f"Error: {response.status_code}")
    
    return data
try:
    #results = client.get("8m42-w767", limit=50)
    results = get_data_from_api('data.cityofnewyork.us','8m42-w767','2010-01-01','2024-01-01')
    print("Connected to API")
    
except requests.exceptions.RequestException as e:
    print(f"Failed to fetch data from API: {e}")

In [ ]:
@retry(wait=wait_exponential(multiplier=2, min=2, max=16), stop=stop_after_attempt(5))
def get_data_from_api(client,data_set,limit_rows):
    results = client.get(data_set,limit=limit_rows)
    return results
try:
    #results = client.get("8m42-w767", limit=50)
    results = get_data_from_api(client,"8m42-w767",20)
    print("Connected to API")
    
except requests.exceptions.RequestException as e:
    print(f"Failed to fetch data from API: {e}")

In [ ]:
print(results)

In [ ]:
import os
import json
#Save to temp folder
current_dir = os.getcwd()
temp_folder = os.path.join(current_dir, "temp")

In [ ]:
# Create the temp folder if it doesn't exist
if not os.path.exists(temp_folder):
    os.makedirs(temp_folder)

In [ ]:
# Define the path to the JSON file
file_path = os.path.join(temp_folder, "output.json")

In [ ]:
# Write the JSON output to the file
with open(file_path, "w", encoding="utf-8") as file:
    json.dump(results, file, indent=4)

## Pandas Transformations ##

In [ ]:
df = pd.DataFrame.from_records(results)

In [ ]:
df.head(10)

In [ ]:
df.dtypes

In [ ]:
# Get rows 390 through 400
subset = df.iloc[389:400]

In [ ]:
subset

In [ ]:
#Converting fields to correct data types
#Date conversion
df.incident_datetime = pd.to_datetime(df.incident_datetime)
df.first_assignment_datetime = pd.to_datetime(df.first_assignment_datetime)
df.first_activation_datetime = pd.to_datetime(df.first_activation_datetime)
df.incident_close_datetime = pd.to_datetime(df.incident_close_datetime)
#df.first_on_scene_datetime = pd.to_datetime(df.first_on_scene_datetime)

#Float conversion
df.dispatch_response_seconds_qy = df.dispatch_response_seconds_qy.astype(float)
df.incident_response_seconds_qy = df.incident_response_seconds_qy.astype(float)
df.incident_travel_tm_seconds_qy = df.incident_travel_tm_seconds_qy.astype(float)
df.engines_assigned_quantity = df.engines_assigned_quantity.astype(float)
df.ladders_assigned_quantity = df.ladders_assigned_quantity.astype(float)
df.other_units_assigned_quantity = df.other_units_assigned_quantity.astype(float)

In [ ]:
print(df.dtypes)

## PySpark Transformations ##

In [ ]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, col
from pyspark.sql.functions import to_timestamp, to_date
spark = SparkSession.builder.appName("Transformations_NYC_Fire_Incidents").getOrCreate()
print(spark.version)

In [ ]:
df = spark.read.json(spark.sparkContext.parallelize([results]))

In [ ]:
df.show()

#ORIGINAL - Modified with For Loop
#Function to clean null values, The function takes in the following paramters: pyspark dataframe, column name to clean, each of the broughs values to switch to.
def clean_null_values(df,null_fields_and_values,aggregate_field,boroughs):
    
    for field in null_fields_and_values:
        
        df = df.withColumn(
        field,
        when(col(field).isNull() & (col(aggregate_field) == aggregate_values[0]),null_fields_and_values[field][0])
        .when(col(field).isNull() & (col(aggregate_field) == aggregate_values[1]),null_fields_and_values[field][1])
        .when(col(field).isNull() & (col(aggregate_field) == aggregate_values[2]),null_fields_and_values[field][2])
        .when(col(field).isNull() & (col(aggregate_field) == aggregate_values[3]),null_fields_and_values[field][3])
        .when(col(field).isNull() & (col(aggregate_field) == aggregate_values[4]),null_fields_and_values[field][4])
        .otherwise(col(field))
    )
    return df


null_fields_and_values = {"zipcode":[10451,11201,10001,11004,10301],
                          "policeprecinct":[40,60,1,100,120],
                          "citycouncildistrict":[8,33,1,19,49],
                          "communitydistrict":[201,301,101,401,501],
                          "communityschooldistrict":[7,13,1,7,31],
                          "congressionaldistrict":[13,7,7,3,11]}

aggregate_field = "alarm_box_borough"
aggregate_values = ["BRONX","BROOKLYN","MANHATTAN","QUEENS","RICHMOND / STATEN ISLAND"]

df = clean_null_values(df,null_fields_and_values,aggregate_field,aggregate_values)

In [ ]:
#Validation purposes run one by one
df.where(df["policeprecinct"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["citycouncildistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["communitydistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["communityschooldistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["congressionaldistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()

In [ ]:
#Converting fields to date time
def convert_to_date_time(df,date_fields_to_convert):
    for field in date_fields_to_convert:
        df = df.withColumn(field, to_timestamp(df[field]))
    return df

date_fields_to_convert = ["incident_datetime","first_assignment_datetime","first_activation_datetime","incident_close_datetime"]

df = convert_to_date_time(df,date_fields_to_convert)

In [ ]:
#Converting fields to floats
def convert_to_float(df,date_fields_to_convert):
    for field in date_fields_to_convert:
        df = df.withColumn(field, df[field].cast("float"))
    return df

numerical_fields_to_convert = ["dispatch_response_seconds_qy",
                               "incident_response_seconds_qy",
                               "incident_travel_tm_seconds_qy",
                               "engines_assigned_quantity",
                               "ladders_assigned_quantity",
                               "other_units_assigned_quantity"]

df = convert_to_float(df,numerical_fields_to_convert)

In [ ]:
#Function to categorize the response times and other quantity type fields. This will be used to aggregate data for OLAP usage.
from pyspark.sql.functions import max
from pyspark.sql.functions import min

def categorize_float_fields(df,fields_to_categorize):
    
    for field in fields_to_categorize:
    
        # Returns the max response
        max_quantity = df.agg(max(field).alias("max_response_alias")).collect()[0]
        max_quantity = max_quantity["max_response_alias"] 
    
        # Returns the min quantity
        min_quantity = df.agg(min(field).alias("min_response_alias")).collect()[0]
        min_quantity = min_quantity["min_response_alias"]
    
        #Calculates the category interval this is to determine the intervals between each category. 5 Categories were chosen.
        category_interval = (max_quantity - min_quantity) / 5
        
        #Categorizes each quantity column using the range between the max and min
        df = df.withColumn(
            "category_" + field,
            when((col(field) == 0),fields_to_categorize[field][0])
            .when((col(field) > 0) & (col(field) <= category_interval),fields_to_categorize[field][1])
            .when((col(field) > category_interval) & (col(field) <= (category_interval*2)),fields_to_categorize[field][2])
            .when((col(field) > (category_interval*2)) & (col(field) <= (category_interval*3)),fields_to_categorize[field][3])
            .when((col(field) > (category_interval*3)) & (col(field) <= (category_interval*4)),fields_to_categorize[field][4])
            .otherwise(fields_to_categorize[field][5])
        )
    
    return df

fields_to_categorize = {"dispatch_response_seconds_qy":["None","Very Low","Low","Medium","High","Very High"],
    "incident_response_seconds_qy":["None","Very Low","Low","Medium","High","Very High"],
    "incident_travel_tm_seconds_qy":["None","Very Low","Low","Medium","High","Very High"],
    "engines_assigned_quantity":["None","Minimal","Limited","Moderate","Substantial","Abundant"],
    "ladders_assigned_quantity":["None","Minimal","Limited","Moderate","Substantial","Abundant"],
    "other_units_assigned_quantity":["None","Minimal","Limited","Moderate","Substantial","Abundant"]}


df = categorize_float_fields(df,fields_to_categorize)

In [ ]:
from pyspark.sql.functions import avg
#Renaming Columns and Casting to Float Types
def clean_column(df,column_name_before,column_name_after):
    df = df.withColumnRenamed(column_name_before, column_name_after)
    df = df.withColumn(column_name_after, col(column_name_after).cast("float"))
    
    return df

#Calculating Averages for response times by each borough
def calculate_averages(df,fields_to_calculate_averages,aggregate_field):
    for field in fields_to_calculate_averages:
        total_avg = df.groupBy(aggregate_field).agg(avg(field)).alias("total_avg_"+field+"_per_borough")
        df = df.join(total_avg, on=aggregate_field, how="left")
        df = clean_column(df,f'avg({field})',f'total_avg_{field}_per_borough')
    
    return df


aggregate_field = "alarm_box_borough"
fields_to_calculate_averages = ["dispatch_response_seconds_qy","incident_travel_tm_seconds_qy","incident_response_seconds_qy"]

df = calculate_averages(df,fields_to_calculate_averages,aggregate_field)

In [ ]:
#Total Resources Assigned to an Incident. Total quantity of Engines, Ladders, and Other Units.
def sum_fields(df,sum_field_name,fields_to_sum):
    df = df.withColumn(
        sum_field_name,
        col(fields_to_sum[0]) + col(fields_to_sum[1]) + col(fields_to_sum[2])
    )
    return df

sum_field_name = "total_resources_assigned_quantity"
fields_to_sum = ["engines_assigned_quantity","ladders_assigned_quantity","other_units_assigned_quantity"]
df = sum_fields(df,sum_field_name,fields_to_sum)

In [ ]:
df.dtypes

In [ ]:
df.printSchema()

In [ ]:
def write_temp_file(results):
    print("hello world")
    #Save to temp folder
    current_dir = os.getcwd()
    temp_folder = os.path.join(current_dir, "temp")

    # Create the temp folder if it doesn't exist
    if not os.path.exists(temp_folder):
        os.makedirs(temp_folder)

    # Define the path to the JSON file
    file_path = os.path.join(temp_folder, "temp.json")

    # Write the JSON output to the file
    with open(file_path, "w", encoding="utf-8") as file:
        json.dump(results, file, indent=4)

def read_temp_file():
    # Get the current directory and define the temp folder path
    print("Reading JSON Temp File to json_data variable")
    current_dir = os.getcwd()
    temp_folder = os.path.join(current_dir, "temp")
    print(current_dir)

    # Define the path to the JSON file
    file_path = os.path.join(temp_folder, "temp.json")
    print("Printing file path: ")
    print(file_path)

    # Read the JSON file
    with open(file_path, "r", encoding="utf-8") as file:
        json_data = json.load(file)
    
    return json_data

def remove_temp_file():
    current_dir = os.getcwd()
    temp_folder = os.path.join(current_dir, "temp")
    file_path = os.path.join(temp_folder, "temp.json")
    # Delete the temporary file
    os.remove(file_path)
    print(f"Temporary file deleted: {file_path}")

#### Official Transformations ^^

In [ ]:
from pyspark.sql.functions import max
from pyspark.sql.functions import min

In [ ]:
# category_ranges_dispatch_response_seconds_qy
max_dispatch_response_seconds_qy = df.agg(max("dispatch_response_seconds_qy").alias("max_dispatch_response_seconds_qy")).collect()[0]
max_dispatch_response_seconds_qy = max_dispatch_response_seconds_qy["max_dispatch_response_seconds_qy"] 

min_dispatch_response_seconds_qy = df.agg(min("dispatch_response_seconds_qy").alias("max_dispatch_response_seconds_qy")).collect()[0]
min_dispatch_response_seconds_qy = min_dispatch_response_seconds_qy["max_dispatch_response_seconds_qy"]

category_ranges_dispatch_response_seconds_qy = (max_dispatch_response_seconds_qy - min_dispatch_response_seconds_qy) / 5

#Categorize dispatch_response_seconds_qy Very Low, Low, Medium, High, Very High
df = df.withColumn(
    "category_dispatch_response_seconds_qy",
    when((col("dispatch_response_seconds_qy") >= 0) & (col("dispatch_response_seconds_qy") <= category_ranges_dispatch_response_seconds_qy),"Very Low")
    .when((col("dispatch_response_seconds_qy") > category_ranges_dispatch_response_seconds_qy) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*2)),"Low")
    .when((col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*2)) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*3)),"Medium")
    .when((col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*3)) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*4)),"High")
    .otherwise("Very High")
    #.when(col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*4) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*5)),"Very High")
)

df.select(df["category_dispatch_response_seconds_qy"]).show()

In [ ]:
df.select(["category_other_units_assigned_quantity"]).show()

In [ ]:
df.dtypes

In [ ]:
#df["category_engines_assigned_quantity"].select()
df.orderBy(df["engines_assigned_quantity"].desc()).select(df["category_engines_assigned_quantity"],df["engines_assigned_quantity"]).show()

In [ ]:
df.dtypes

In [ ]:
df.createOrReplaceTempView('Temp_Tbl')
max_dispatch_response_seconds_qy = spark.sql("SELECT max(dispatch_response_seconds_qy) FROM Temp_Tbl")
min_dispatch_response_seconds_qy = spark.sql("SELECT max(dispatch_response_seconds_qy) FROM Temp_Tbl")

In [ ]:
max_dispatch_response_seconds_qy.show()

In [ ]:
min_dispatch_response_seconds_qy.show()

In [ ]:
max_dispatch_response_seconds_qy.show() / 4

In [ ]:
df.select(df["dispatch_response_seconds_qy"]).show()

In [ ]:
from pyspark.sql.functions import length
df_with_char_count = df.withColumn("char_count", length(df["zipcode"]))
df_with_char_count.where(df_with_char_count["char_count"]>5).select("zipcode","char_count").show()

In [ ]:
df.dtypes

In [ ]:
df.select("first_assignment_datetime").show()

In [ ]:
df.createOrReplaceTempView('Temp_Tbl')

In [ ]:
query = spark.sql("SELECT * FROM Fire_Incidents_Temp_Tbl where zipcode is null")

In [ ]:
query.count()

In [ ]:
query = spark.sql("SELECT starfire_incident_id,zipcode,alarm_box_borough FROM Fire_Incidents_Temp_Tbl where starfire_incident_id = 2100422620120017")
query.show()

In [ ]:
df.select("starfire_incident_id", "zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["starfire_incident_id"]==2100422620120017).select("starfire_incident_id","zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["starfire_incident_id"]==2100422620120017).select("starfire_incident_id","zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["zipcode"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()

## Postgres Load ##

In [ ]:
from sqlalchemy import create_engine

In [ ]:
#Creating the engine postgressql://username:password@host:port/db_name
username = 'root'
password = 'root'
host = "fire_incidents_db"
port = 5432
database = "fire_incidents"
engine = create_engine(f'postgresql://{username}:{password}@{host}:{port}/{database}')
#engine = create_engine(f'postgresql://{username}:{password}@{host_name}:{port}/{database}')
#engine = create_engine('postgresql://root:root@fire_incidents_db:5432/fire_incidents')

In [ ]:
#Needs to convert fields to date time before loading
def convert_to_date_time_using_pands(df,date_fields_to_convert):
    for field in date_fields_to_convert:
        df[field] = pd.to_datetime(df[field])
        
    return df

date_fields_to_convert = ["incident_datetime",
                              "first_assignment_datetime",
                              "first_activation_datetime",
                              "incident_close_datetime",
                             "first_on_scene_datetime"]

df = convert_to_date_time_using_pands(df,date_fields_to_convert)

In [ ]:
#Defines a schema, names it to fire_incidents_schema, and then assigns it to postgres
print(pd.io.sql.get_schema(df,name='fire_incidents_schema',con=engine))

In [ ]:
#Creates the table in postgres with only the field names. Name = yellow_taxi_data, Engine is the postgres database, if_exists = 'replace' if a table already exists with this name it will replace it
df.head(n=0).to_sql(name='fire_incidents_tbl',con=engine,if_exists='replace')

In [ ]:
start = 0
batchsize = 1000
def create_batches_of_rows(dataframe,batchsize):
    start = 0
    while start < len(df) + 1:
        yield df.iloc[start:start + batchsize]
        start += batchsize

In [ ]:
#Creates a list of batches. Parses the dataframe and the batchsize through the create_batches_of_rows function and sets the variable batches to the list
batches = list(create_batches_of_rows(df,100))

In [ ]:
#Loops through each one of the batches and appends the batch to the postgressql database.
counter = 1
for batch in batches:
    batch.to_sql(name='fire_incidents_tbl', con=engine, if_exists='append')
    print(f'Batch Loaded..... {counter}')
    counter += 1

In [ ]:
username = 'root'
password = 'root'
host = "fire_incidents_db"
port = 5432
database = "fire_incidents"
print(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')