In [ ]:
#API Key ID - 8frxx42pw5tkoeebz9kyzmd7e
#API Key Secret - 34i7ii0vg37y7r3zssml3m6kljoqrqd7ucjipijnop4pgpmajo
#Token - K0nAnd8O1CS0ggdOb8OumLj3H

In [1]:
import pandas as pd
import requests
from sodapy import Socrata
from sqlalchemy import create_engine
from time import time
import argparse
#import psycopg2
from tenacity import retry, wait_exponential, stop_after_attempt
import requests
import pyspark

## Extract Via API

In [2]:
client = Socrata("data.cityofnewyork.us", "xoIfIdDlHq6gGzxqLqbUeMpsG")

In [3]:
@retry(wait=wait_exponential(multiplier=2, min=2, max=16), stop=stop_after_attempt(5))
def get_data_from_api(client,data_set,limit_rows):
    results = client.get(data_set,limit=limit_rows)
    return results
try:
    #results = client.get("8m42-w767", limit=50)
    results = get_data_from_api(client,"8m42-w767",10000)
    print("Connected to API")
    
except requests.exceptions.RequestException as e:
    print(f"Failed to fetch data from API: {e}")

Connected to API

## Pandas Transformations ##

In [11]:
df = pd.DataFrame.from_records(results)

In [12]:
df.head()

,starfire_incident_id,incident_datetime,alarm_box_borough,alarm_box_number,alarm_box_location,incident_borough,zipcode,policeprecinct,citycouncildistrict,communitydistrict,...,first_activation_datetime,incident_close_datetime,valid_dispatch_rspns_time_indc,valid_incident_rspns_time_indc,incident_response_seconds_qy,incident_travel_tm_seconds_qy,engines_assigned_quantity,ladders_assigned_quantity,other_units_assigned_quantity,first_on_scene_datetime
0,2100404460110002,2021-01-04T00:01:00.000,MANHATTAN,446,3 AVE & ST. MARKS PL,MANHATTAN,10003,9,2,103,...,2021-01-04T00:02:00.000,2021-01-04T00:07:00.000,N,N,0,0,1,0,0,NaN
1,2100433250140001,2021-01-04T00:01:00.000,BROOKLYN,3325,AVENUE O & E 13 ST,BROOKLYN,11230,70,48,314,...,2021-01-04T00:02:00.000,2021-01-04T00:32:00.000,N,Y,170,165,1,0,0,2021-01-04T00:04:00.000
2,2100411280150003,2021-01-04T00:01:00.000,QUEENS,1128,MOTT AVE & DICKENS ST,QUEENS,11691,101,31,414,...,2021-01-04T00:02:00.000,2021-01-04T00:05:00.000,N,N,0,0,1,0,0,NaN
3,2100416590110004,2021-01-04T00:02:00.000,MANHATTAN,1659,BROADWAY & 153 ST,MANHATTAN,10031,30,7,109,...,2021-01-04T00:02:00.000,2021-01-04T00:31:00.000,N,Y,318,314,1,0,0,2021-01-04T00:07:00.000
4,2100413490110006,2021-01-04T00:02:00.000,MANHATTAN,1349,5 AVE & 112 ST,MANHATTAN,10026,28,9,110,...,2021-01-04T00:03:00.000,2021-01-04T00:18:00.000,N,Y,871,834,1,0,0,2021-01-04T00:17:00.000

In [ ]:
df.dtypes

In [18]:
# Get rows 390 through 400
subset = df.iloc[389:400]

In [19]:
subset

,starfire_incident_id,incident_datetime,alarm_box_borough,alarm_box_number,alarm_box_location,incident_borough,zipcode,policeprecinct,citycouncildistrict,communitydistrict,...,first_activation_datetime,incident_close_datetime,valid_dispatch_rspns_time_indc,valid_incident_rspns_time_indc,incident_response_seconds_qy,incident_travel_tm_seconds_qy,engines_assigned_quantity,ladders_assigned_quantity,other_units_assigned_quantity,first_on_scene_datetime
389,2100407060210441,2021-01-04T09:33:00.000,MANHATTAN,706,8 AVE & W 33 ST,MANHATTAN,10001,14,3,104,...,2021-01-04T09:33:00.000,2021-01-04T09:51:00.000,N,Y,567,562,1,0,0,2021-01-04T09:42:00.000
390,2100474260150184,2021-01-04T09:33:00.000,QUEENS,7426,BROADWAY & 29 ST,QUEENS,11106,114,22,401,...,2021-01-04T09:34:00.000,2021-01-04T09:43:00.000,N,Y,314,310,1,0,0,2021-01-04T09:39:00.000
391,2100489380150188,2021-01-04T09:35:00.000,QUEENS,8938,155TH AVE & HURON ST,QUEENS,11414,106,32,410,...,2021-01-04T09:35:00.000,2021-01-04T09:49:00.000,N,Y,311,304,1,0,0,2021-01-04T09:40:00.000
392,2100416500140259,2021-01-04T09:37:00.000,BROOKLYN,1650,SARATOGA AVE & ATLANTIC AVE,BROOKLYN,11233,73,41,316,...,2021-01-04T09:38:00.000,2021-01-04T09:47:00.000,N,Y,236,206,2,2,1,2021-01-04T09:41:00.000
393,2100425330120233,2021-01-04T09:38:00.000,BRONX,2533,ANDERSON AVE OPP W 166 ST,BRONX,10452,44,8,204,...,2021-01-04T09:39:00.000,2021-01-04T09:58:00.000,N,Y,281,243,1,0,0,2021-01-04T09:42:00.000
394,2100429300130048,2021-01-04T09:38:00.000,RICHMOND / STATEN ISLAND,2930,COUNTRY DR E & COUNTRY DR S,RICHMOND / STATEN ISLAND,10314,121,51,502,...,2021-01-04T09:38:00.000,2021-01-04T09:45:00.000,N,N,0,0,0,0,1,NaN
395,2100415440140260,2021-01-04T09:38:00.000,BROOKLYN,1544,CATON AVE & PARADE PL,BROOKLYN,11226,70,40,314,...,2021-01-04T09:39:00.000,2021-01-04T09:59:00.000,N,Y,357,318,1,1,1,2021-01-04T09:44:00.000
396,2100409760110448,2021-01-04T09:39:00.000,MANHATTAN,976,2 AVE & 65 ST,MANHATTAN,10065,19,5,108,...,2021-01-04T09:44:00.000,2021-01-04T09:58:00.000,N,N,544,241,1,0,0,2021-01-04T09:48:00.000
397,2100491970150194,2021-01-04T09:39:00.000,QUEENS,9197,98 ST & 62 DR,QUEENS,11374,112,29,406,...,2021-01-04T09:39:00.000,2021-01-04T09:56:00.000,N,Y,514,507,1,0,0,2021-01-04T09:47:00.000
398,2100412780210450,2021-01-04T09:41:00.000,MANHATTAN,1278,3 AVE & E 102 ST,MANHATTAN,10029,23,8,111,...,2021-01-04T09:42:00.000,2021-01-04T09:55:00.000,N,Y,305,267,0,1,0,2021-01-04T09:47:00.000
399,2100423800120239,2021-01-04T09:42:00.000,BRONX,2380,CAULDWELL AVE & 163 ST,BRONX,10456,42,17,203,...,2021-01-04T09:42:00.000,2021-01-04T10:06:00.000,N,Y,415,371,2,2,1,2021-01-04T09:49:00.000

In [ ]:
#Converting fields to correct data types
#Date conversion
df.incident_datetime = pd.to_datetime(df.incident_datetime)
df.first_assignment_datetime = pd.to_datetime(df.first_assignment_datetime)
df.first_activation_datetime = pd.to_datetime(df.first_activation_datetime)
df.incident_close_datetime = pd.to_datetime(df.incident_close_datetime)
#df.first_on_scene_datetime = pd.to_datetime(df.first_on_scene_datetime)

#Float conversion
df.dispatch_response_seconds_qy = df.dispatch_response_seconds_qy.astype(float)
df.incident_response_seconds_qy = df.incident_response_seconds_qy.astype(float)
df.incident_travel_tm_seconds_qy = df.incident_travel_tm_seconds_qy.astype(float)
df.engines_assigned_quantity = df.engines_assigned_quantity.astype(float)
df.ladders_assigned_quantity = df.ladders_assigned_quantity.astype(float)
df.other_units_assigned_quantity = df.other_units_assigned_quantity.astype(float)

In [ ]:
print(df.dtypes)

## PySpark Transformations ##

In [5]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, col
from pyspark.sql.functions import to_timestamp, to_date
spark = SparkSession.builder.appName("Transformations_NYC_Fire_Incidents").getOrCreate()
print(spark.version)

3.5.0

In [6]:
df = spark.read.json(spark.sparkContext.parallelize([results]))

In [9]:
df.show()

+--------------------+--------------------+----------------+-----------------------------+---------------------------+-------------------+-----------------+-----------------------+---------------------+----------------------------+-------------------------+-------------------------+-------------------------+-----------------------+-------------------+--------------------+-----------------------+-----------------------------+-----------------------+--------------------+----------------------------+-----------------------------+-------------------------+-----------------------------+--------------+--------------------+------------------------------+------------------------------+-------+
|   alarm_box_borough|  alarm_box_location|alarm_box_number|alarm_level_index_description|alarm_source_description_tx|citycouncildistrict|communitydistrict|communityschooldistrict|congressionaldistrict|dispatch_response_seconds_qy|engines_assigned_quantity|first_activation_datetime|first_assignment_datetime|first_on_scene_datetime|highest_alarm_level|    incident_borough|incident_classification|incident_classification_group|incident_close_datetime|   incident_datetime|incident_response_seconds_qy|incident_travel_tm_seconds_qy|ladders_assigned_quantity|other_units_assigned_quantity|policeprecinct|starfire_incident_id|valid_dispatch_rspns_time_indc|valid_incident_rspns_time_indc|zipcode|
+--------------------+--------------------+----------------+-----------------------------+---------------------------+-------------------+-----------------+-----------------------+---------------------+----------------------------+-------------------------+-------------------------+-------------------------+-----------------------+-------------------+--------------------+-----------------------+-----------------------------+-----------------------+--------------------+----------------------------+-----------------------------+-------------------------+-----------------------------+--------------+--------------------+------------------------------+------------------------------+-------+
|           MANHATTAN|3 AVE & ST. MARKS PL|             446|                Initial Alarm|            PD Link/Medical|                  2|              103|                      1|                   12|                          13|                        1|     2021-01-04T00:02:...|     2021-01-04T00:01:...|                   NULL|        First Alarm|           MANHATTAN|   Medical - PD Link...|          Medical Emergencies|   2021-01-04T00:07:...|2021-01-04T00:01:...|                           0|                            0|                        0|                            0|             9|    2100404460110002|                             N|                             N|  10003|
|            BROOKLYN|  AVENUE O & E 13 ST|            3325|                Initial Alarm|           EMS Link/Medical|                 48|              314|                     21|                    9|                           5|                        1|     2021-01-04T00:02:...|     2021-01-04T00:01:...|   2021-01-04T00:04:...|        First Alarm|            BROOKLYN|   Medical - Breathi...|          Medical Emergencies|   2021-01-04T00:32:...|2021-01-04T00:01:...|                         170|                          165|                        0|                            0|            70|    2100433250140001|                             N|                             Y|  11230|
|              QUEENS|MOTT AVE & DICKEN...|            1128|                Initial Alarm|           EMS Link/Medical|                 31|              414|                     27|                    5|                           4|                        1|     2021-01-04T00:02:...|     2021-01-04T00:01:...|                   NULL|        First Alarm|              QUEENS|   Medical - EMS Lin...|          Medical Emergencies|   2021-01-04T00:05:...|2021-01-04T00:01:...|                           0|                            0|                        0|                            0|           101|    2100411280150003|                             N|                             N|  11691|
|           MANHATTAN|   BROADWAY & 153 ST|            1659|                Initial Alarm|            PD Link/Medical|                  7|              109|                      6|                   13|                           4|                        1|     2021-01-04T00:02:...|     2021-01-04T00:02:...|   2021-01-04T00:07:...|        First Alarm|           MANHATTAN|   Medical - Serious...|          Medical Emergencies|   2021-01-04T00:31:...|2021-01-04T00:02:...|                         318|                          314|                        0|                            0|            30|    2100416590110004|                             N|                             Y|  10031|
|           MANHATTAN|      5 AVE & 112 ST|            1349|                Initial Alarm|           EMS Link/Medical|                  9|              110|                      3|                   13|                          37|                        1|     2021-01-04T00:03:...|     2021-01-04T00:03:...|   2021-01-04T00:17:...|        First Alarm|           MANHATTAN|   Medical - Breathi...|          Medical Emergencies|   2021-01-04T00:18:...|2021-01-04T00:02:...|                         871|                          834|                        0|                            0|            28|    2100413490110006|                             N|                             Y|  10026|
|              QUEENS| ALMEDA AVE & B63 ST|            1261|                Initial Alarm|            PD Link/Medical|                 31|              414|                     27|                    5|                           5|                        1|     2021-01-04T00:07:...|     2021-01-04T00:07:...|   2021-01-04T00:12:...|        First Alarm|              QUEENS|   Medical - No PT C...|          Medical Emergencies|   2021-01-04T00:18:...|2021-01-04T00:06:...|                         341|                          336|                        0|                            0|           100|    2100412610150005|                             N|                             Y|  11692|
|              QUEENS|  B'WAY & BAXTER AVE|            7941|                Initial Alarm|                      Phone|                 25|              404|                     24|                    6|                          40|                        2|     2021-01-04T00:08:...|     2021-01-04T00:07:...|   2021-01-04T00:12:...|        First Alarm|              QUEENS|   Utility Emergency...|         NonMedical Emerge...|   2021-01-04T00:42:...|2021-01-04T00:07:...|                         307|                          267|                        2|                            1|           110|    2100479410150006|                             N|                             Y|  11373|
|               BRONX|M.L.KING JR BLVD ...|            2529|                Initial Alarm|           EMS Link/Medical|                 16|              204|                      9|                   15|                           7|                        1|     2021-01-04T00:11:...|     2021-01-04T00:10:...|                   NULL|        First Alarm|               BRONX|   Medical - EMS Lin...|          Medical Emergencies|   2021-01-04T00:16:...|2021-01-04T00:10:...|                           0|                            0|                        0|                            0|            44|    2100425290120007|                             N|                             N|  10452|
|RICHMOND / STATEN...|     BAY & BROAD STS|             241|                Initial Alarm|           EMS Link/Medical|                 49|              501|                     31|                   11|                           5|                        1|     2021-01-04T00:11:...|     2021-01-04T00:11:...|   2021-01-04T00:13:...|        First Alarm|RICHMOND / STATEN...|   Medical - No PT C...|          Medical Emergencies|   2021-01-04T00:16:...|2021-01-04T00:10:...|                         132|                          127|                        0|                            0|           120|    2100402410130006|                             N|                             Y|  10304|
|            BROOKLYN|NEW JERSEY AVE & ...|            1735|                Initial Alarm|                      Phone|                 37|              305|                     19|                    7|                          49|                        1|     2021-01-04T00:16:...|     2021-01-04T00:15:...|   2021-01-04T00:18:...|        First Alarm|            BROOKLYN|        Automobile Fire|          NonStructural Fires|   2021-01-04T00:45:...|2021-01-04T00:15:...|                         208|                          159|                        1|                            0|            75|    2100417350140004|                             N|                             Y|  11207|
|               BRONX|HAVEMEYER AVE & C...|            2659|                Initial Alarm|                      Phone|                 18|              209|                      8|                   15|                          51|                        3|     2021-01-04T00:21:...|     2021-01-04T00:21:...|   2021-01-04T00:25:...|        First Alarm|               BRONX|   Multiple Dwelling...|             Structural Fires|   2021-01-04T00:46:...|2021-01-04T00:20:...|                         318|                          267|                        2|                            1|            43|    2100426590120013|                             N|                             Y|  10473|
|           MANHATTAN|LEWIS & DELANCEY STS|             273|                Initial Alarm|           EMS Link/Medical|                  2|              103|                      1|                    7|                           8|                        1|     2021-01-04T00:23:...|     2021-01-04T00:23:...|                   NULL|        First Alarm|           MANHATTAN|   Medical - EMS Lin...|          Medical Emergencies|   2021-01-04T00:27:...|2021-01-04T00:23:...|                           0|                            0|                        0|                            0|             7|    2100402730110012|                             N|                             N|  10002|
|               BRONX| MORRIS AVE & 183 ST|            3194|                Initial Alarm|            PD Link/Medical|                 14|              205|                     10|                   15|                           7|                        1|     2021-01-04T00:23:...|     2021-01-04T00:23:...|   2021-01-04T00:31:...|        First Alarm|               BRONX|   Medical - Breathi...|          Medical Emergencies|   2021-01-04T00:58:...|2021-01-04T00:23:...|                         483|                          476|                        0|                            0|            46|    2100431940120015|                             N|                             Y|  10468|
|               BRONX|   PARK AVE & 158 ST|            2309|                Initial Alarm|           EMS Link/Medical|                 17|              201|                      7|                   15|                           5|                        2|     2021-01-04T00:24:...|     2021-01-04T00:23:...|   2021-01-04T00:28:...|        First Alarm|               BRONX|   Medical - Breathi...|          Medical Emergencies|   2021-01-04T01:26:...|2021-01-04T00:23:...|                         265|                          260|                        0|                            0|            40|    2100423090120016|                             N|                             Y|  10451|
|              QUEENS|     14 AVE & 128 ST|            4302|                Initial Alarm|           EMS Link/Medical|                 19|              407|                     25|                   14|                           6|                        1|     2021-01-04T00:24:...|     2021-01-04T00:24:...|   2021-01-04T00:29:...|        First Alarm|              QUEENS|   Medical - Breathi...|          Medical Emergencies|   2021-01-04T00:41:...|2021-01-04T00:24:...|                         313|                          307|                        0|                            0|           109|    2100443020150014|                             N|                             Y|  11356|
|            BROOKLYN|BOERUM & LORIMER STS|             250|                Initial Alarm|           EMS Link/Medical|                 34|              301|                     14|                    7|                          12|                        1|     2021-01-04T00:25:...|     2021-01-04T00:24:...|   2021-01-04T00:28:...|        First Alarm|            BROOKLYN|   Medical - Serious...|          Medical Emergencies|   2021-01-04T01:52:...|2021-01-04T00:24:...|                         237|                          225|                        0|                            0|            90|    2100402500140022|                             N|                             Y|  11206|
|              QUEENS|KISSENA BLVD & 71...|            4964|                Initial Alarm|           EMS Link/Medical|                 24|              408|                     25|                    6|                          12|                        1|     2021-01-04T00:26:...|     2021-01-04T00:26:...|                   NULL|        First Alarm|              QUEENS|   Medical - EMS Lin...|          Medical Emergencies|   2021-01-04T00:32:...|2021-01-04T00:26:...|                           0|                            0|                        0|                            0|           107|    2100449640150016|                             N|                             N|  11367|
|           MANHATTAN|       AVE B & 14 ST|             469|                Initial Alarm|                      Phone|                  2|              103|                      1|                   12|                          23|                        0|     2021-01-04T00:28:...|     2021-01-04T00:27:...|   2021-01-04T00:33:...|        First Alarm|           MANHATTAN|   Elevator Emergenc...|         NonMedical Emerge...|   2021-01-04T00:50:...|2021-01-04T00:27:...|                         360|                          337|                        1|                            0|             9|    2100404690110015|                             N|                             Y|  10009|
|           MANHATTAN|PEARL ST & ST. JA...|             122|               DEFAULT RECORD|           EMS Link/Medical|                  1|              103|                      2|                    7|                           5|                        1|     2021-01-04T00:29:...|     2021-01-04T00:29:...|   2021-01-04T00:35:...|        First Alarm|           MANHATTAN|   Medical MFA - EMS...|                 Medical MFAs|   2021-01-04T00:36:...|2021-01-04T00:29:...|                         354|                          349|                        0|                            0|             5|    2100401220110017|                             N|                             Y|  10038|
|            BROOKLYN|LINDEN BLVD & E 9...|            2085|                Initial Alarm|           EMS Link/Medical|                 42|              317|                     18|                    9|                          12|                        1|     2021-01-04T00:30:...|     2021-01-04T00:30:...|                   NULL|        First Alarm|            BROOKLYN|   Medical - EMS Lin...|          Medical Emergencies|   2021-01-04T00:32:...|2021-01-04T00:30:...|                           0|                            0|                        0|                            0|            67|    2100420850140024|                             N|                             N|  11212|
+--------------------+--------------------+----------------+-----------------------------+---------------------------+-------------------+-----------------+-----------------------+---------------------+----------------------------+-------------------------+-------------------------+-------------------------+-----------------------+-------------------+--------------------+-----------------------+-----------------------------+-----------------------+--------------------+----------------------------+-----------------------------+-------------------------+-----------------------------+--------------+--------------------+------------------------------+------------------------------+-------+
only showing top 20 rows

In [ ]:
#Function to clean null values, The function takes in the following paramters: pyspark dataframe, column name to clean, each of the broughs values to switch to.
def clean_null_values(df,column_name_to_clean,bronx_value,brooklyn_value,manhattan_value,queens_value,staten_value):
    df = df.withColumn(
    column_name_to_clean,
    when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "BRONX"),bronx_value)
    .when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "BROOKLYN"),brooklyn_value)
    .when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "MANHATTAN"),manhattan_value)
    .when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "QUEENS"),queens_value)
    .when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "RICHMOND / STATEN ISLAND"),staten_value)
    .otherwise(col(column_name_to_clean))
)
    return df

#The values presented below correspond to the first entry identified for each field within their respective boroughs. For instance, in the case of the Bronx, the first zip code encountered in the dataset was 10451.  
#For the null values, it is assumed that the newly assigned values will approximate the actual values as closely as possible.
df = clean_null_values(df,"zipcode",10451,11201,10001,11004,10301)
df = clean_null_values(df,"policeprecinct",40,60,1,100,120)
df = clean_null_values(df,"citycouncildistrict",8,33,1,19,49)
df = clean_null_values(df,"communitydistrict",201,301,101,401,501)
df = clean_null_values(df,"communityschooldistrict",7,13,1,7,31)
df = clean_null_values(df,"congressionaldistrict",13,7,7,3,11)

In [ ]:
#Validation purposes run one by one
df.where(df["policeprecinct"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["citycouncildistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["communitydistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["communityschooldistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["congressionaldistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()

In [ ]:
#Convert to date time
df = df.withColumn("incident_datetime", to_timestamp(df["incident_datetime"]))
df = df.withColumn("first_assignment_datetime", to_timestamp(df["first_assignment_datetime"]))
df = df.withColumn("first_activation_datetime", to_timestamp(df["first_activation_datetime"]))
df = df.withColumn("incident_close_datetime", to_timestamp(df["incident_close_datetime"]))

#Convert to floats
df = df.withColumn("dispatch_response_seconds_qy", df["dispatch_response_seconds_qy"].cast("float"))
df = df.withColumn("incident_response_seconds_qy", df["incident_response_seconds_qy"].cast("float"))
df = df.withColumn("incident_travel_tm_seconds_qy", df["incident_travel_tm_seconds_qy"].cast("float"))
df = df.withColumn("engines_assigned_quantity", df["engines_assigned_quantity"].cast("float"))
df = df.withColumn("ladders_assigned_quantity", df["ladders_assigned_quantity"].cast("float"))
df = df.withColumn("other_units_assigned_quantity", df["other_units_assigned_quantity"].cast("float"))

In [ ]:
#Function to categorize the response times and other quantity type fields. This will be used to aggregate data for OLAP usage.
from pyspark.sql.functions import max
from pyspark.sql.functions import min

def categorize_float_fields(df,column_name,none,very_low,low,medium,high,very_high):
    # Returns the max response
    max_quantity = df.agg(max(column_name).alias("max_response_alias")).collect()[0]
    max_quantity = max_quantity["max_response_alias"] 

    # Returns the min quantity
    min_quantity = df.agg(min(column_name).alias("min_response_alias")).collect()[0]
    min_quantity = min_quantity["min_response_alias"]

    #Calculates the category interval this is to determine the intervals between each category. 5 Categories were chosen.
    category_interval = (max_quantity - min_quantity) / 5
    
    #Categorizes each quantity column using the range between the max and min
    df = df.withColumn(
        "category_" + column_name,
        when((col(column_name) == 0),none)
        .when((col(column_name) > 0) & (col(column_name) <= category_interval),very_low)
        .when((col(column_name) > category_interval) & (col(column_name) <= (category_interval*2)),low)
        .when((col(column_name) > (category_interval*2)) & (col(column_name) <= (category_interval*3)),medium)
        .when((col(column_name) > (category_interval*3)) & (col(column_name) <= (category_interval*4)),high)
        .otherwise(very_high)
    )
    
    return df

df = categorize_float_fields(df,"dispatch_response_seconds_qy","None","Very Low","Low","Medium","High","Very High")
df = categorize_float_fields(df,"incident_response_seconds_qy","None","Very Low","Low","Medium","High","Very High")
df = categorize_float_fields(df,"incident_travel_tm_seconds_qy","None","Very Low","Low","Medium","High","Very High")
df = categorize_float_fields(df,"engines_assigned_quantity","None","Minimal","Limited","Moderate","Substantial","Abundant")
df = categorize_float_fields(df,"ladders_assigned_quantity","None","Minimal","Limited","Moderate","Substantial","Abundant")
df = categorize_float_fields(df,"other_units_assigned_quantity","None","Minimal","Limited","Moderate","Substantial","Abundant")

In [ ]:
from pyspark.sql.functions import avg
#Calculating Averages for esponse times by each borough
total_avg_dispatch_response_seconds_qy_per_borough = df.groupBy("alarm_box_borough").agg(avg("dispatch_response_seconds_qy")).alias("total_avg_dispatch_response_seconds_qy_per_borough")
total_incident_travel_tm_seconds_qy_per_borough = df.groupBy("alarm_box_borough").agg(avg("incident_travel_tm_seconds_qy")).alias("total_incident_travel_tm_seconds_qy_per_borough")
total_incident_response_seconds_qy_per_borough = df.groupBy("alarm_box_borough").agg(avg("incident_response_seconds_qy")).alias("total_incident_response_seconds_qy_per_borough")

# Join the average back to the original DataFrame
df = df.join(total_avg_dispatch_response_seconds_qy_per_borough, on="alarm_box_borough", how="left")
df = df.join(total_incident_travel_tm_seconds_qy_per_borough, on="alarm_box_borough", how="left")
df = df.join(total_incident_response_seconds_qy_per_borough, on="alarm_box_borough", how="left")



#Renaming Columns and Casting to Float Types
def clean_column(df,column_name_before,column_name_after):
    df = df.withColumnRenamed(column_name_before, column_name_after)

    df = df.withColumn(column_name_after, col(column_name_after).cast("float"))
    
    return df

df = clean_column(df,"avg(dispatch_response_seconds_qy)","total_avg_dispatch_response_seconds_qy_per_borough")
df = clean_column(df,"avg(incident_travel_tm_seconds_qy)","total_avg_incident_travel_tm_seconds_qy_per_borough")
df = clean_column(df,"avg(incident_response_seconds_qy)","total_avg_incident_response_seconds_qy_per_borough")

In [ ]:
#Total Resources Assigned to an Incident. Total quantity of Engines, Ladders, and Other Units.
df = df.withColumn(
    "total_resources_assigned_quantity",
    col("engines_assigned_quantity") + col("ladders_assigned_quantity") + col("other_units_assigned_quantity")
)

In [ ]:
df.dtypes

In [ ]:
df.printSchema()

#### Official Transformations ^^

In [ ]:
from pyspark.sql.functions import avg

In [ ]:
total_incident_response_seconds_qy_per_borough.show()

In [ ]:
df.dtypes

In [ ]:
df.select("dispatch_response_seconds_qy","incident_travel_tm_seconds_qy","total_response_time","incident_response_seconds_qy").show()

In [ ]:
df.show()

In [ ]:
from pyspark.sql.functions import max
from pyspark.sql.functions import min

In [ ]:
# category_ranges_dispatch_response_seconds_qy
max_dispatch_response_seconds_qy = df.agg(max("dispatch_response_seconds_qy").alias("max_dispatch_response_seconds_qy")).collect()[0]
max_dispatch_response_seconds_qy = max_dispatch_response_seconds_qy["max_dispatch_response_seconds_qy"] 

min_dispatch_response_seconds_qy = df.agg(min("dispatch_response_seconds_qy").alias("max_dispatch_response_seconds_qy")).collect()[0]
min_dispatch_response_seconds_qy = min_dispatch_response_seconds_qy["max_dispatch_response_seconds_qy"]

category_ranges_dispatch_response_seconds_qy = (max_dispatch_response_seconds_qy - min_dispatch_response_seconds_qy) / 5

#Categorize dispatch_response_seconds_qy Very Low, Low, Medium, High, Very High
df = df.withColumn(
    "category_dispatch_response_seconds_qy",
    when((col("dispatch_response_seconds_qy") >= 0) & (col("dispatch_response_seconds_qy") <= category_ranges_dispatch_response_seconds_qy),"Very Low")
    .when((col("dispatch_response_seconds_qy") > category_ranges_dispatch_response_seconds_qy) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*2)),"Low")
    .when((col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*2)) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*3)),"Medium")
    .when((col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*3)) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*4)),"High")
    .otherwise("Very High")
    #.when(col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*4) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*5)),"Very High")
)

df.select(df["category_dispatch_response_seconds_qy"]).show()

In [ ]:
df.select(["category_other_units_assigned_quantity"]).show()

In [ ]:
df.dtypes

In [ ]:
#df["category_engines_assigned_quantity"].select()
df.orderBy(df["engines_assigned_quantity"].desc()).select(df["category_engines_assigned_quantity"],df["engines_assigned_quantity"]).show()

In [ ]:
df.dtypes

In [ ]:
df.createOrReplaceTempView('Temp_Tbl')
max_dispatch_response_seconds_qy = spark.sql("SELECT max(dispatch_response_seconds_qy) FROM Temp_Tbl")
min_dispatch_response_seconds_qy = spark.sql("SELECT max(dispatch_response_seconds_qy) FROM Temp_Tbl")

In [ ]:
max_dispatch_response_seconds_qy.show()

In [ ]:
min_dispatch_response_seconds_qy.show()

In [ ]:
max_dispatch_response_seconds_qy.show() / 4

In [ ]:
df.select(df["dispatch_response_seconds_qy"]).show()

In [ ]:
from pyspark.sql.functions import length
df_with_char_count = df.withColumn("char_count", length(df["zipcode"]))
df_with_char_count.where(df_with_char_count["char_count"]>5).select("zipcode","char_count").show()

In [ ]:
df.dtypes

In [ ]:
df.select("first_assignment_datetime").show()

In [ ]:
df.createOrReplaceTempView('Temp_Tbl')

In [ ]:
query = spark.sql("SELECT * FROM Fire_Incidents_Temp_Tbl where zipcode is null")

In [ ]:
query.count()

In [ ]:
query = spark.sql("SELECT starfire_incident_id,zipcode,alarm_box_borough FROM Fire_Incidents_Temp_Tbl where starfire_incident_id = 2100422620120017")
query.show()

In [ ]:
df.select("starfire_incident_id", "zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["starfire_incident_id"]==2100422620120017).select("starfire_incident_id","zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["starfire_incident_id"]==2100422620120017).select("starfire_incident_id","zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["zipcode"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()

## Postgres Load ##

In [ ]:
#Creating the engine postgressql://username:password@host:port/db_name
username = 'root'
password = 'root'
host = "fire_incidents_db"
port = 5432
database = "fire_incidents"
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')
#engine = create_engine('postgresql://root:root@fire_incidents_db:5432/fire_incidents')

In [ ]:
#Defines a schema, names it to yellow_taxi_data, and then assigns it to postgres
print(pd.io.sql.get_schema(df,name='fire_incidents_schema',con=engine))

In [ ]:
#Creates the table in postgres with only the field names. Name = yellow_taxi_data, Engine is the postgres database, if_exists = 'replace' if a table already exists with this name it will replace it
df.head(n=0).to_sql(name='fire_incidents_tbl',con=engine,if_exists='replace')

In [ ]:
start = 0
batchsize = 1000
def create_batches_of_rows(dataframe,batchsize):
    start = 0
    while start < len(df) + 1:
        yield df.iloc[start:start + batchsize]
        start += batchsize

In [ ]:
#Creates a list of batches. Parses the dataframe and the batchsize through the create_batches_of_rows function and sets the variable batches to the list
batches = list(create_batches_of_rows(df,100))

In [ ]:
#Loops through each one of the batches and appends the batch to the postgressql database.
counter = 1
for batch in batches:
    batch.to_sql(name='fire_incidents_tbl', con=engine, if_exists='append')
    print(f'Batch Loaded..... {counter}')
    counter += 1

In [ ]:
username = 'root'
password = 'root'
host = "fire_incidents_db"
port = 5432
database = "fire_incidents"
print(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')