In [ ]:
#API Key ID - 8frxx42pw5tkoeebz9kyzmd7e
#API Key Secret - 34i7ii0vg37y7r3zssml3m6kljoqrqd7ucjipijnop4pgpmajo
#Token - K0nAnd8O1CS0ggdOb8OumLj3H

In [1]:
import pandas as pd
import requests
from sodapy import Socrata
from sqlalchemy import create_engine
from time import time
import argparse
#import psycopg2
from tenacity import retry, wait_exponential, stop_after_attempt
import requests
import pyspark

## Extract Via API

In [2]:
client = Socrata("data.cityofnewyork.us", "xoIfIdDlHq6gGzxqLqbUeMpsG")

In [3]:
@retry(wait=wait_exponential(multiplier=2, min=2, max=16), stop=stop_after_attempt(5))
def get_data_from_api(client,data_set,limit_rows):
    results = client.get(data_set,limit=limit_rows)
    return results
try:
    #results = client.get("8m42-w767", limit=50)
    results = get_data_from_api(client,"8m42-w767",10000)
    print("Connected to API")
    
except requests.exceptions.RequestException as e:
    print(f"Failed to fetch data from API: {e}")

Connected to API

## Pandas Transformations ##

In [ ]:
df = pd.DataFrame.from_records(results)

In [ ]:
df.head()

In [ ]:
df.dtypes

In [ ]:
#Converting fields to correct data types
#Date conversion
df.incident_datetime = pd.to_datetime(df.incident_datetime)
df.first_assignment_datetime = pd.to_datetime(df.first_assignment_datetime)
df.first_activation_datetime = pd.to_datetime(df.first_activation_datetime)
df.incident_close_datetime = pd.to_datetime(df.incident_close_datetime)
#df.first_on_scene_datetime = pd.to_datetime(df.first_on_scene_datetime)

#Float conversion
df.dispatch_response_seconds_qy = df.dispatch_response_seconds_qy.astype(float)
df.incident_response_seconds_qy = df.incident_response_seconds_qy.astype(float)
df.incident_travel_tm_seconds_qy = df.incident_travel_tm_seconds_qy.astype(float)
df.engines_assigned_quantity = df.engines_assigned_quantity.astype(float)
df.ladders_assigned_quantity = df.ladders_assigned_quantity.astype(float)
df.other_units_assigned_quantity = df.other_units_assigned_quantity.astype(float)

In [ ]:
print(df.dtypes)

## PySpark Transformations ##

In [4]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import when, col
from pyspark.sql.functions import to_timestamp, to_date
spark = SparkSession.builder.appName("Transformations_NYC_Fire_Incidents").getOrCreate()
print(spark.version)

3.5.0

In [5]:
print(type(results))

<class 'list'>

In [6]:
as_a_string = str(results)

In [8]:
results = str(results)

In [9]:
print(type(results))

<class 'str'>

In [10]:
df = spark.read.json(spark.sparkContext.parallelize([results]))

In [ ]:
#Function to clean null values, The function takes in the following paramters: pyspark dataframe, column name to clean, each of the broughs values to switch to.
def clean_null_values(df,column_name_to_clean,bronx_value,brooklyn_value,manhattan_value,queens_value,staten_value):
    df = df.withColumn(
    column_name_to_clean,
    when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "BRONX"),bronx_value)
    .when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "BROOKLYN"),brooklyn_value)
    .when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "MANHATTAN"),manhattan_value)
    .when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "QUEENS"),queens_value)
    .when(col(column_name_to_clean).isNull() & (col("alarm_box_borough") == "RICHMOND / STATEN ISLAND"),staten_value)
    .otherwise(col(column_name_to_clean))
)
    return df

#The values presented below correspond to the first entry identified for each field within their respective boroughs. For instance, in the case of the Bronx, the first zip code encountered in the dataset was 10451.  
#For the null values, it is assumed that the newly assigned values will approximate the actual values as closely as possible.
df = clean_null_values(df,"zipcode",10451,11201,10001,11004,10301)
df = clean_null_values(df,"policeprecinct",40,60,1,100,120)
df = clean_null_values(df,"citycouncildistrict",8,33,1,19,49)
df = clean_null_values(df,"communitydistrict",201,301,101,401,501)
df = clean_null_values(df,"communityschooldistrict",7,13,1,7,31)
df = clean_null_values(df,"congressionaldistrict",13,7,7,3,11)

In [ ]:
#Validation purposes run one by one
df.where(df["policeprecinct"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["citycouncildistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["communitydistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["communityschooldistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()
df.where(df["congressionaldistrict"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()

In [ ]:
#Convert to date time
df = df.withColumn("incident_datetime", to_timestamp(df["incident_datetime"]))
df = df.withColumn("first_assignment_datetime", to_timestamp(df["first_assignment_datetime"]))
df = df.withColumn("first_activation_datetime", to_timestamp(df["first_activation_datetime"]))
df = df.withColumn("incident_close_datetime", to_timestamp(df["incident_close_datetime"]))

#Convert to floats
df = df.withColumn("dispatch_response_seconds_qy", df["dispatch_response_seconds_qy"].cast("float"))
df = df.withColumn("incident_response_seconds_qy", df["incident_response_seconds_qy"].cast("float"))
df = df.withColumn("incident_travel_tm_seconds_qy", df["incident_travel_tm_seconds_qy"].cast("float"))
df = df.withColumn("engines_assigned_quantity", df["engines_assigned_quantity"].cast("float"))
df = df.withColumn("ladders_assigned_quantity", df["ladders_assigned_quantity"].cast("float"))
df = df.withColumn("other_units_assigned_quantity", df["other_units_assigned_quantity"].cast("float"))

In [ ]:
#Function to categorize the response times and other quantity type fields. This will be used to aggregate data for OLAP usage.
from pyspark.sql.functions import max
from pyspark.sql.functions import min

def categorize_float_fields(df,column_name,none,very_low,low,medium,high,very_high):
    # Returns the max response
    max_quantity = df.agg(max(column_name).alias("max_response_alias")).collect()[0]
    max_quantity = max_quantity["max_response_alias"] 

    # Returns the min quantity
    min_quantity = df.agg(min(column_name).alias("min_response_alias")).collect()[0]
    min_quantity = min_quantity["min_response_alias"]

    #Calculates the category interval this is to determine the intervals between each category. 5 Categories were chosen.
    category_interval = (max_quantity - min_quantity) / 5
    
    #Categorizes each quantity column using the range between the max and min
    df = df.withColumn(
        "category_" + column_name,
        when((col(column_name) == 0),none)
        .when((col(column_name) > 0) & (col(column_name) <= category_interval),very_low)
        .when((col(column_name) > category_interval) & (col(column_name) <= (category_interval*2)),low)
        .when((col(column_name) > (category_interval*2)) & (col(column_name) <= (category_interval*3)),medium)
        .when((col(column_name) > (category_interval*3)) & (col(column_name) <= (category_interval*4)),high)
        .otherwise(very_high)
    )
    
    return df

df = categorize_float_fields(df,"dispatch_response_seconds_qy","None","Very Low","Low","Medium","High","Very High")
df = categorize_float_fields(df,"incident_response_seconds_qy","None","Very Low","Low","Medium","High","Very High")
df = categorize_float_fields(df,"incident_travel_tm_seconds_qy","None","Very Low","Low","Medium","High","Very High")
df = categorize_float_fields(df,"engines_assigned_quantity","None","Minimal","Limited","Moderate","Substantial","Abundant")
df = categorize_float_fields(df,"ladders_assigned_quantity","None","Minimal","Limited","Moderate","Substantial","Abundant")
df = categorize_float_fields(df,"other_units_assigned_quantity","None","Minimal","Limited","Moderate","Substantial","Abundant")

In [ ]:
from pyspark.sql.functions import avg
#Calculating Averages for esponse times by each borough
total_avg_dispatch_response_seconds_qy_per_borough = df.groupBy("alarm_box_borough").agg(avg("dispatch_response_seconds_qy")).alias("total_avg_dispatch_response_seconds_qy_per_borough")
total_incident_travel_tm_seconds_qy_per_borough = df.groupBy("alarm_box_borough").agg(avg("incident_travel_tm_seconds_qy")).alias("total_incident_travel_tm_seconds_qy_per_borough")
total_incident_response_seconds_qy_per_borough = df.groupBy("alarm_box_borough").agg(avg("incident_response_seconds_qy")).alias("total_incident_response_seconds_qy_per_borough")

# Join the average back to the original DataFrame
df = df.join(total_avg_dispatch_response_seconds_qy_per_borough, on="alarm_box_borough", how="left")
df = df.join(total_incident_travel_tm_seconds_qy_per_borough, on="alarm_box_borough", how="left")
df = df.join(total_incident_response_seconds_qy_per_borough, on="alarm_box_borough", how="left")



#Renaming Columns and Casting to Float Types
def clean_column(df,column_name_before,column_name_after):
    df = df.withColumnRenamed(column_name_before, column_name_after)

    df = df.withColumn(column_name_after, col(column_name_after).cast("float"))
    
    return df

df = clean_column(df,"avg(dispatch_response_seconds_qy)","total_avg_dispatch_response_seconds_qy_per_borough")
df = clean_column(df,"avg(incident_travel_tm_seconds_qy)","total_avg_incident_travel_tm_seconds_qy_per_borough")
df = clean_column(df,"avg(incident_response_seconds_qy)","total_avg_incident_response_seconds_qy_per_borough")

In [ ]:
#Total Resources Assigned to an Incident. Total quantity of Engines, Ladders, and Other Units.
df = df.withColumn(
    "total_resources_assigned_quantity",
    col("engines_assigned_quantity") + col("ladders_assigned_quantity") + col("other_units_assigned_quantity")
)

In [ ]:
df.dtypes

In [ ]:
df.printSchema()

#### Official Transformations ^^

In [ ]:
from pyspark.sql.functions import avg

In [ ]:
total_incident_response_seconds_qy_per_borough.show()

In [ ]:
df.dtypes

In [ ]:
df.select("dispatch_response_seconds_qy","incident_travel_tm_seconds_qy","total_response_time","incident_response_seconds_qy").show()

In [ ]:
df.show()

In [ ]:
from pyspark.sql.functions import max
from pyspark.sql.functions import min

In [ ]:
# category_ranges_dispatch_response_seconds_qy
max_dispatch_response_seconds_qy = df.agg(max("dispatch_response_seconds_qy").alias("max_dispatch_response_seconds_qy")).collect()[0]
max_dispatch_response_seconds_qy = max_dispatch_response_seconds_qy["max_dispatch_response_seconds_qy"] 

min_dispatch_response_seconds_qy = df.agg(min("dispatch_response_seconds_qy").alias("max_dispatch_response_seconds_qy")).collect()[0]
min_dispatch_response_seconds_qy = min_dispatch_response_seconds_qy["max_dispatch_response_seconds_qy"]

category_ranges_dispatch_response_seconds_qy = (max_dispatch_response_seconds_qy - min_dispatch_response_seconds_qy) / 5

#Categorize dispatch_response_seconds_qy Very Low, Low, Medium, High, Very High
df = df.withColumn(
    "category_dispatch_response_seconds_qy",
    when((col("dispatch_response_seconds_qy") >= 0) & (col("dispatch_response_seconds_qy") <= category_ranges_dispatch_response_seconds_qy),"Very Low")
    .when((col("dispatch_response_seconds_qy") > category_ranges_dispatch_response_seconds_qy) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*2)),"Low")
    .when((col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*2)) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*3)),"Medium")
    .when((col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*3)) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*4)),"High")
    .otherwise("Very High")
    #.when(col("dispatch_response_seconds_qy") > (category_ranges_dispatch_response_seconds_qy*4) & (col("dispatch_response_seconds_qy") <= (category_ranges_dispatch_response_seconds_qy*5)),"Very High")
)

df.select(df["category_dispatch_response_seconds_qy"]).show()

In [ ]:
df.select(["category_other_units_assigned_quantity"]).show()

In [ ]:
df.dtypes

In [ ]:
#df["category_engines_assigned_quantity"].select()
df.orderBy(df["engines_assigned_quantity"].desc()).select(df["category_engines_assigned_quantity"],df["engines_assigned_quantity"]).show()

In [ ]:
df.dtypes

In [ ]:
df.createOrReplaceTempView('Temp_Tbl')
max_dispatch_response_seconds_qy = spark.sql("SELECT max(dispatch_response_seconds_qy) FROM Temp_Tbl")
min_dispatch_response_seconds_qy = spark.sql("SELECT max(dispatch_response_seconds_qy) FROM Temp_Tbl")

In [ ]:
max_dispatch_response_seconds_qy.show()

In [ ]:
min_dispatch_response_seconds_qy.show()

In [ ]:
max_dispatch_response_seconds_qy.show() / 4

In [ ]:
df.select(df["dispatch_response_seconds_qy"]).show()

In [ ]:
from pyspark.sql.functions import length
df_with_char_count = df.withColumn("char_count", length(df["zipcode"]))
df_with_char_count.where(df_with_char_count["char_count"]>5).select("zipcode","char_count").show()

In [ ]:
df.dtypes

In [ ]:
df.select("first_assignment_datetime").show()

In [ ]:
df.createOrReplaceTempView('Temp_Tbl')

In [ ]:
query = spark.sql("SELECT * FROM Fire_Incidents_Temp_Tbl where zipcode is null")

In [ ]:
query.count()

In [ ]:
query = spark.sql("SELECT starfire_incident_id,zipcode,alarm_box_borough FROM Fire_Incidents_Temp_Tbl where starfire_incident_id = 2100422620120017")
query.show()

In [ ]:
df.select("starfire_incident_id", "zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["starfire_incident_id"]==2100422620120017).select("starfire_incident_id","zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["starfire_incident_id"]==2100422620120017).select("starfire_incident_id","zipcode","alarm_box_borough").show()

In [ ]:
df.where(df["zipcode"].isNull()).select("starfire_incident_id","zipcode","alarm_box_borough").count()

## Postgres Load ##

In [ ]:
#Creating the engine postgressql://username:password@host:port/db_name
username = 'root'
password = 'root'
host = "fire_incidents_db"
port = 5432
database = "fire_incidents"
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')
#engine = create_engine('postgresql://root:root@fire_incidents_db:5432/fire_incidents')

In [ ]:
#Defines a schema, names it to yellow_taxi_data, and then assigns it to postgres
print(pd.io.sql.get_schema(df,name='fire_incidents_schema',con=engine))

In [ ]:
#Creates the table in postgres with only the field names. Name = yellow_taxi_data, Engine is the postgres database, if_exists = 'replace' if a table already exists with this name it will replace it
df.head(n=0).to_sql(name='fire_incidents_tbl',con=engine,if_exists='replace')

In [ ]:
start = 0
batchsize = 1000
def create_batches_of_rows(dataframe,batchsize):
    start = 0
    while start < len(df) + 1:
        yield df.iloc[start:start + batchsize]
        start += batchsize

In [ ]:
#Creates a list of batches. Parses the dataframe and the batchsize through the create_batches_of_rows function and sets the variable batches to the list
batches = list(create_batches_of_rows(df,100))

In [ ]:
#Loops through each one of the batches and appends the batch to the postgressql database.
counter = 1
for batch in batches:
    batch.to_sql(name='fire_incidents_tbl', con=engine, if_exists='append')
    print(f'Batch Loaded..... {counter}')
    counter += 1

In [ ]:
username = 'root'
password = 'root'
host = "fire_incidents_db"
port = 5432
database = "fire_incidents"
print(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')