In [1]:
#API Key ID - 8frxx42pw5tkoeebz9kyzmd7e
#API Key Secret - 34i7ii0vg37y7r3zssml3m6kljoqrqd7ucjipijnop4pgpmajo
#Token - K0nAnd8O1CS0ggdOb8OumLj3H

In [22]:
import pandas as pd
import requests
from sodapy import Socrata
from sqlalchemy import create_engine
from time import time
import argparse
import psycopg2
import retry
import requests

In [7]:
client = Socrata("data.cityofnewyork.us", "xoIfIdDlHq6gGzxqLqbUeMpsG")

In [24]:
@retry(wait_exponential_multiplier=2000, wait_exponential_max=16000, stop_max_attempt_number=5)
def get_data_from_api(data_set,limit_rows):
    results = client.get(data_set,limit_rows)
    return results
try:
    #results = client.get("8m42-w767", limit=50)
    results = get_data_from_api("8m42-w767",50)
    
except requests.exceptions.RequestException as e:
    print(f"Failed to fetch data from API: {e}")

TypeError: 'module' object is not callable

In [21]:
df = pd.DataFrame.from_records(results)

In [22]:
df.head()

,starfire_incident_id,incident_datetime,alarm_box_borough,alarm_box_number,alarm_box_location,incident_borough,zipcode,policeprecinct,citycouncildistrict,communitydistrict,...,first_activation_datetime,incident_close_datetime,valid_dispatch_rspns_time_indc,valid_incident_rspns_time_indc,incident_response_seconds_qy,incident_travel_tm_seconds_qy,engines_assigned_quantity,ladders_assigned_quantity,other_units_assigned_quantity,first_on_scene_datetime
0,2100404460110002,2021-01-04T00:01:00.000,MANHATTAN,446,3 AVE & ST. MARKS PL,MANHATTAN,10003,9,2,103,...,2021-01-04T00:02:00.000,2021-01-04T00:07:00.000,N,N,0,0,1,0,0,NaN
1,2100433250140001,2021-01-04T00:01:00.000,BROOKLYN,3325,AVENUE O & E 13 ST,BROOKLYN,11230,70,48,314,...,2021-01-04T00:02:00.000,2021-01-04T00:32:00.000,N,Y,170,165,1,0,0,2021-01-04T00:04:00.000
2,2100411280150003,2021-01-04T00:01:00.000,QUEENS,1128,MOTT AVE & DICKENS ST,QUEENS,11691,101,31,414,...,2021-01-04T00:02:00.000,2021-01-04T00:05:00.000,N,N,0,0,1,0,0,NaN
3,2100416590110004,2021-01-04T00:02:00.000,MANHATTAN,1659,BROADWAY & 153 ST,MANHATTAN,10031,30,7,109,...,2021-01-04T00:02:00.000,2021-01-04T00:31:00.000,N,Y,318,314,1,0,0,2021-01-04T00:07:00.000
4,2100413490110006,2021-01-04T00:02:00.000,MANHATTAN,1349,5 AVE & 112 ST,MANHATTAN,10026,28,9,110,...,2021-01-04T00:03:00.000,2021-01-04T00:18:00.000,N,Y,871,834,1,0,0,2021-01-04T00:17:00.000

In [23]:
#Converting fields to correct data types
#Date conversion
df.incident_datetime = pd.to_datetime(df.incident_datetime)
df.first_assignment_datetime = pd.to_datetime(df.first_assignment_datetime)
df.first_activation_datetime = pd.to_datetime(df.first_activation_datetime)
df.incident_close_datetime = pd.to_datetime(df.incident_close_datetime)
df.first_on_scene_datetime = pd.to_datetime(df.first_on_scene_datetime)

#Float conversion
df.dispatch_response_seconds_qy = df.dispatch_response_seconds_qy.astype(float)
df.incident_response_seconds_qy = df.incident_response_seconds_qy.astype(float)
df.incident_travel_tm_seconds_qy = df.incident_travel_tm_seconds_qy.astype(float)
df.engines_assigned_quantity = df.engines_assigned_quantity.astype(float)
df.ladders_assigned_quantity = df.ladders_assigned_quantity.astype(float)
df.other_units_assigned_quantity = df.other_units_assigned_quantity.astype(float)

In [24]:
print(df.dtypes)

starfire_incident_id                      object
incident_datetime                 datetime64[ns]
alarm_box_borough                         object
alarm_box_number                          object
alarm_box_location                        object
incident_borough                          object
zipcode                                   object
policeprecinct                            object
citycouncildistrict                       object
communitydistrict                         object
communityschooldistrict                   object
congressionaldistrict                     object
alarm_source_description_tx               object
alarm_level_index_description             object
highest_alarm_level                       object
incident_classification                   object
incident_classification_group             object
dispatch_response_seconds_qy             float64
first_assignment_datetime         datetime64[ns]
first_activation_datetime         datetime64[ns]
incident_close_datetime           datetime64[ns]
valid_dispatch_rspns_time_indc            object
valid_incident_rspns_time_indc            object
incident_response_seconds_qy             float64
incident_travel_tm_seconds_qy            float64
engines_assigned_quantity                float64
ladders_assigned_quantity                float64
other_units_assigned_quantity            float64
first_on_scene_datetime           datetime64[ns]
dtype: object

In [25]:
#Creating the engine postgressql://username:password@host:port/db_name
username = 'root'
password = 'root'
host = "fire_incidents_db"
port = 5432
database = "fire_incidents"
engine = create_engine(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')
#engine = create_engine('postgresql://root:root@fire_incidents_db:5432/fire_incidents')

In [26]:
#Defines a schema, names it to yellow_taxi_data, and then assigns it to postgres
print(pd.io.sql.get_schema(df,name='fire_incidents_schema',con=engine))

CREATE TABLE fire_incidents_schema (
	starfire_incident_id TEXT,
	incident_datetime TIMESTAMP WITHOUT TIME ZONE,
	alarm_box_borough TEXT,
	alarm_box_number TEXT,
	alarm_box_location TEXT,
	incident_borough TEXT,
	zipcode TEXT,
	policeprecinct TEXT,
	citycouncildistrict TEXT,
	communitydistrict TEXT,
	communityschooldistrict TEXT,
	congressionaldistrict TEXT,
	alarm_source_description_tx TEXT,
	alarm_level_index_description TEXT,
	highest_alarm_level TEXT,
	incident_classification TEXT,
	incident_classification_group TEXT,
	dispatch_response_seconds_qy FLOAT(53),
	first_assignment_datetime TIMESTAMP WITHOUT TIME ZONE,
	first_activation_datetime TIMESTAMP WITHOUT TIME ZONE,
	incident_close_datetime TIMESTAMP WITHOUT TIME ZONE,
	valid_dispatch_rspns_time_indc TEXT,
	valid_incident_rspns_time_indc TEXT,
	incident_response_seconds_qy FLOAT(53),
	incident_travel_tm_seconds_qy FLOAT(53),
	engines_assigned_quantity FLOAT(53),
	ladders_assigned_quantity FLOAT(53),
	other_units_assigned_quantity FLOAT(53),
	first_on_scene_datetime TIMESTAMP WITHOUT TIME ZONE
)

In [27]:
#Creates the table in postgres with only the field names. Name = yellow_taxi_data, Engine is the postgres database, if_exists = 'replace' if a table already exists with this name it will replace it
df.head(n=0).to_sql(name='fire_incidents_tbl',con=engine,if_exists='replace')

0

In [28]:
start = 0
batchsize = 1000
def create_batches_of_rows(dataframe,batchsize):
    start = 0
    while start < len(df) + 1:
        yield df.iloc[start:start + batchsize]
        start += batchsize

In [29]:
#Creates a list of batches. Parses the dataframe and the batchsize through the create_batches_of_rows function and sets the variable batches to the list
batches = list(create_batches_of_rows(df,100))

In [30]:
#Loops through each one of the batches and appends the batch to the postgressql database.
counter = 1
for batch in batches:
    batch.to_sql(name='fire_incidents_tbl', con=engine, if_exists='append')
    print(f'Batch Loaded..... {counter}')
    counter += 1

Batch Loaded..... 1

In [31]:
username = 'root'
password = 'root'
host = "fire_incidents_db"
port = 5432
database = "fire_incidents"
print(f'postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}')

postgresql+psycopg2://root:root@fire_incidents_db:5432/fire_incidents